{% extends "base.html.twig" %}

{% block title %}Gafas{% endblock %}
{% block style %}

 {% endblock %}
{% block  header %}
    <div class="header"> Esto es el header de las gafas</div>
{% endblock %}
{% block body %}
    <div class="box">
        <div class="image">
            <div>
                <img src="../../img/{{gafa.image}}" >
            </div>
        </div>
        <div class="datos">
            <div class="datos-precio">
                <h1>{{ gafa.model }}</h1>
                <h3 class="precio">{{ gafa.price }}€</h3>
                <p> {{ gafa.categoria }}</p>
                <p class="opina">Opina | Review </p>
            </div>
            <div class="marca">
                <p>Marca:       Gafas Geek{{gafa.model}}/Cod. Articulo:{{gafa.id}}</p>
                <p>Envío:       Desde 10€ - <b class="red">GRATIS con GEEK PREMIUM</b></p>
                <p>Financiación: <b>6, 12, 20 y 30 meses</b></p>
            </div>
            <div class="compra">
                <div class="corazon">
                    <i class="fa fa-heart-o"></i>
                </div>
                {% if app.user %}
                <div class="añadir">
                    <a href="/carro/add/{{gafa.id}}/{{app.user.id}}" ><button>Añadir al carrito</button></a>
                </div>
                {% endif %}
                <div class="comprar"><b>COMPRAR</b></div>
            </div>
        </div>
    </div>
    
    
 {% endblock %}
{%block footer%}
    <footer>Esto es el footer</footer>      
{%endblock%}