{% extends "base.html.twig" %}

{% block title %}Gafas{% endblock %}
{%block style%}

{%endblock%}
{%block  header%}
    <div class="header"> Esto es el header de las gafas</div>
{%endblock%}
{% block body %}
    <div class="box">
        
        <div class="menu">
        <div class="menu-head">
                <b>TODAS LAS CATEGORIAS</b>
        </div>
        <div class="menu-body">
        {% if categorias %}
        {% for categoria in categorias %}
                <div class="menu-cat">
                <a href="categoria/{{categoria.id}}">
                GAFAS GEEK {{categoria.name}}</a>
            </div>
            {%endfor%}
        {% endif %}
        </div>
                
            </div>
            <div class="main">
                <div class="main-head">
                    <h1>Catalogo de Gafas</h1></div>
                
                    <div class="banner1">
                <div class="row banner">
                </div>
            </div>
                <div class="promo">
                        <div class="ofertas">
                            <b>OFERTAS</b>
                        </div>
                        <div class="ofertas">
                            <b>NOVEDADES</b>
                        </div>
                        <div class="ofertas">
                            <b>PROMOCIONES</b>
                        </div>
                </div>
                <div class="main-body">
                  
                    {% for gafa in gafas %}
                    <div class="card">
                        <div class="card-body">
                            <div class="imagen">
                            <a href="detail/{{gafa.id}}">
                                <img src="../img/{{gafa.image}}" ></a>
                            </div>
                            
                            <p>{{ gafa.price}}€</p>
                            <p>{{ gafa.categoria}}</p>
                       
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
 </div> 
{% endblock %}
{%block footer%}
    <footer>Esto es el footer</footer>      
{%endblock%}