{% extends 'base.html.twig' %}
{% block style %}
 <style type="text/css">
    
    </style>
 {% endblock %}
{% block body %}
<div class="cesta">
{% if carros %}

    {% for carro in carros %}
     {% set cantidad = cantidad + carro.cantidad %}
    {% endfor %}
    <h3>
        ({{cantidad}})Articulos en <b>tu cesta</b>
    </h3>
    <table>
        <thead>
            <tr>
                <th id="timage">Articulo</th>
                <th id="tdatos"> </th>         
                <th id="tprecio">precio</th>
                <th id="tunidades">unidades</th>
                <th id="ttotal">total</th>
                <th id="tborrar"></th>
            </tr>
        </thead>
        <tbody>
        {% for carro in carros %}
            <tr>
                <td><img src="/img/{{carro.imagen}}" ></td>
                <td>{{ carro.producto }}</td>
                <td>{{ carro.price }}</td>
                <td>{{ carro.cantidad }}</td>
                <td>
                    <a href="/carro/less/{{carro.idp}}/{{app.user.id}}" ><i class="fa fa-minus"></i></a>
                    {{carro.cantidad * carro.price}}€
                    <a href="/carro/add/{{carro.idp}}/{{app.user.id}}" ><i class="fa fa-plus"></i></a>
                </td>
                <td><a href="/carro/delete/{{carro.idp}}/{{app.user.id}}" >Eliminar</a>    
            </tr>
            {% set total = total + carro.cantidad * carro.price %}
           
            
        {% endfor %}
            <tr>
                <td>
                <td>
                <td>
                <td>
                <td>{{total}}€
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-3">
            <a href="/carro/limpiar/{{app.user.id}}">Limpiar Carro</a>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <a href="/">Seguir comprando</a>
        </div>

    </div>
{% else %}
    <h3>No hay ningun articulo en tu carrito</h3>
{% endif %}
</div>
<div id="interes">
    <p>
        Puede que te interese
    </p>
    {% if productos %}
    <div class="row">
    {% for producto in productos %}
        
            <div class="col md-4">
                <div class="row"><img src="/img/{{producto.image}}" ></div>
                <div class="row">{{producto.price}}</div>
                <div class="row">
                        <a href="/carro/add/{{producto.id}}/{{app.user.id}}" >Añadir al carrito</a></div>
                
                <div class="row">Alternativas</div>
            </div>        
       
        
    {% endfor %}
    </div>
    {% endif %}
</div>
<div>

</div>
{% endblock %}
