{% extends 'base.html.twig' %}

{% block body %}
{% if carros %}
    <h1>Gafas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>product</th>
                <th>usuario</th>
                <th>cantidad</th>
                <th>restar</th>
                <th>borrar</th>
                
            </tr>
        </thead>
        <tbody>
        {% for carro in carros %}
            <tr>
                <td><a href="{{ path('gafas_show', { 'id': carro.id }) }}">{{ carro.id }}</a></td>
                <td>{{ carro.producto }}</td>
                <td>{{ carro.user }}</td>
                <td>{{ carro.cantidad }}</td>
                <td>{{carro.cantidad * carro.price}}€</td>
                <td><a href="/carro/less/{{carro.idp}}/{{app.user.id}}" >menos</a>
                <td><a href="/carro/delete/{{carro.idp}}/{{app.user.id}}" >Eliminar</a>    
            </tr>
            {% set total = total + carro.cantidad * carro.price %}
            
        {% endfor %}
            <tr>
                <td>
                <td>
                <td>
                <td>
                <td>{{total}}
            </tr>
        </tbody>
    </table>
<a href="/carro/limpiar/{{app.user.id}}">Limpiar Carro</a>
{% else %}
    <h3>No hay ningun articulo en tu carrito</h3>
{% endif %}
{% endblock %}
